* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafbfd;
}
.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 10px;
  padding-inline: 20px;
  font-size: 1rem;
  background-color: #fafbfd;
}

.file-container {
  display: flex;
  flex-direction: column;

  input {
    border: none;
    color: #000;
    font-size: 1.2rem;
    font-style: light;
    border-radius: 10px;
    padding-inline-end: 10px;
    padding-block: 5px;
    background-color: rgb(249, 248, 248);
    outline: none;
  }
}

.icon-container {
  width: auto;
  height: auto;
}

.file-options {
  height: 2rem;
  display: flex;
  gap: 20px;
}

.cell-actions-container {
  height: auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 20px;
    cursor: pointer;
  }

  .cell-actions {
    background-color: #f0f4f9;
    width: 98%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;
    padding-block: 25px;
  }

  .ccp,
  .font-styles,
  .text-format,
  .color-change {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .text-actions {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;

    .font-change {
      flex: 0.2;
      display: flex;
      align-items: center;
      gap: 5px;

      select {
        border: none;
        height: 30px;
        padding-inline: 5px;
        border-radius: 5px;
        outline: none;
      }

      select.font-family {
        width: 80%;
      }
      select.font-size {
        width: 30%;
      }
    }
  }

  .font-styles,
  .text-format {
    display: flex;
    align-items: center;
  }
}

.cell-address-bar {
  height: 2rem;
  display: flex;
  align-items: center;

  .address-bar {
    display: flex;
    padding-left: 20px;
  }

  input {
    border: none;
    outline: none;
    height: 100%;
  }
}

.formular-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  background-color: #fff;

  span {
    color: gray;
    font-size: 20px;
  }

  input {
    height: 100%;
    width: 100%;
  }
}

.cells-grid {
  background-color: white;
  height: calc(100vh - 14rem);
  overflow: scroll;
  width: 100%;

  .top {
    display: flex;
    height: 1.8rem;
    width: fit-content;
    border-top-style: solid;
    border-top-color: #bcbbbb;
    border-top-width: 1px;
    position: sticky;
    top: 0;
    left: 2rem;
    background-color: #fff;
  }

  .blank {
    width: 2rem;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 0.2rem;
    border-bottom-width: 0.2rem;
    border-right-color: #bcbbbb;
    border-bottom-color: #bcbbbb;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
  }

  .address-rows {
    width: 2rem;
    height: calc(100% - 1.8rem);
    border-right-style: solid;
    border-right-color: #bcbbbb;
    border-right-width: 0.25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 2rem;
    left: 0;
    background-color: #fff;
  }

  .address-row-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding-block: 2px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #bcbbbb;
    border-bottom-width: 0.25px;
  }

  .address-columns {
    height: 1.8rem;
    width: calc(100% - 2rem);
    border-bottom-style: solid;
    border-bottom-color: #bcbbbb;
    border-bottom-width: 0.25px;
    display: flex;
    align-items: center;
  }

  .address-col-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding-inline: 5px;
    height: 100%;
    width: 120px;
    border-right-style: solid;
    border-right-color: #bcbbbb;
    border-right-width: 0.25px;
  }

  .grid {
    width: fit-content;
    display: flex;

    .cells {
      width: calc(100% - 2rem);
      display: flex;
      flex-direction: column;
    }

    .grid-rows {
      display: flex;
      width: 100%;
    }

    .grid-cell {
      font-size: 0.8rem;
      padding-inline: 5px;
      height: 20px;
      width: 120px;
      border-right-style: solid;
      border-right-color: #e8e7e7;
      border-right-width: 0.25px;
      border-bottom-style: solid;
      border-bottom-color: #e8e7e7;
      border-bottom-width: 0.25px;
      outline: none;
    }
  }
}

.sheets-container {
  height: 2.5rem;
  background-color: #fafbfd;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 50px;
  overflow: auto;
}

.add-sheet {
  cursor: pointer;
}

.sheets-folder {
  height: 2.5rem;
}

.sheet {
  /* background-color: #e1e9f7; */
  font-weight: 550;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  /* color: #0957d0; */
  font-size: 14px;
  cursor: pointer;
}

.color-change input {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
