* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 10px;
    padding-inline: 20px;
    font-size: 1rem;
    background-color: rgb(249, 248, 248);
}

.file-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        border: none;
        font-size: 1.2rem;
        font-style: light;
        border-radius: 10px;
        padding-inline-end: 10px;
        padding-block: 5px;
        background-color: rgb(249, 248, 248);
    }
}

.icon-container {
    width: auto;
    height: auto;
}

.file-options {
    height: 2rem;
    display: flex;
    gap: 20px;
}

.cell-actions {
    height: 6rem;
    background-color: rgb(224, 223, 223);
}

.cell-address-bar {
    height: 3rem;
    background-color: rgb(239, 236, 236);
}

.sheet-actions {
    height: 3rem;
    background-color: aliceblue;
}

.cells-grid {
    background-color: white;
    height: calc(100vh - 17rem);
}

.sheets-container {
    height: 3rem;
    background-color: darkgray;
}
